* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}


body {
  color: #ffffff;
  background-color: #000000;
}

.container-wrapper {
  min-height: 100vh;
}

.dashboard-title {
  color: #1DCD9F;
}

.card-custom {
  color: #ffffff;
  background-color: #222222;
}

.card-custom .card-title {
  color: #1DCD9F;
}

.dark-input,
.dark-input:focus {
  border: none;
  color: #ffffff;
  background-color: #222222;
  box-shadow: none !important;
}


.dark-input::placeholder {
  opacity: 0.7;
  color: #cccccc;
}

.alert {
  color: #ffffff;
  background-color: #222222;
  border: none;
  opacity: 0.3;
}

.pagination .page-link {
  border: none;
}

.pagination .page-item .page-link {
  color: #000;
  background-color: #1DCD9F;
}

.pagination .page-item.active .page-link {
  color: #000;
  background-color: #169976;
}